body {
    background: #EBEBEB;
    text-align: center;

}

h1 {
    text-align: center;
    font-size: 4em;
}

#home-image {
    display: inline;
    border-radius: 5%;
    width: 30%;
    height: 10%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.8em;
  background-color: #F8C0C8;
  padding: 0.5%;
}

li a{
    color: #6B2D5C;
}

li a:hover{
    color: #AE3364;
}

#bbh {
    display: inline;
    width: 20%;
    align-items: center;
}