
body {
    background: #EBEBEB;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', san-serif;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
    color: #3A1832;
    margin-bottom: 0.5%;
}

#home-image {
    display: inline;
    border-radius: 15%;
    width: 30%;
    height: 10%;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.8em;
  background-color: #F8C0C8;
  padding: 0.5%;
  margin: 0;
  text-decoration: none;
}

#nav a{
    color: #6B2D5C;
    text-decoration: none;
}

#nav a:hover{
    color: #AE3364;
}

.dish {
    font-size: 3em;
}

.desc {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    list-style: disc;
}

.food {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.food-pic {
    display: inline;
    width: 20%;
    align-items: center;
}

#steps {
    list-style: decimal;
    font-size: 2em;
}

#contact {
    list-style: none;
    font-size: 2em;
}